<br><br><br><br>
<center><h4 class="alert alert-info"><strong>PRACTICA #10</strong></h4></center>
<div ng-controller="controlador10">
	<div class="well">
		<center>
			<b>LEER JSON MEDIANTE URL</b><br><br>
			<button ng-click="ShowForm()" ng-hide="formVisibility"> Añadir contacto </button></center>
			<div ng-show="formVisibility">
		</center>
		<form>
			<input type="text" name="id" placeholder="ID" ng-model="idE"></input>
			<input type="text" name="nombre" placeholder="Ingrese el Nombre" ng-model="nombreE"></input>
			<input type="text" name="autor" placeholder="Ingrese el Autor" ng-model="autorE"></input>
			<input type="text" name="precio" placeholder="Ingrese el Preio" ng-model="precioE"></input>
			<input type="text" name="cantidad" placeholder="Ingrese la Cantidad" ng-model="cantidadE"></input>
			<br>
			<label><strong>BUSCAR:</strong></label>
			<input type="text" name="buscar" placeholder="Buscar" ng-model="busqueda"></input>
			<br>
			<button ng-click="agregar()" ng-disabled="!cantidadE">AGREGAR</button>
			<button ng-click="eliminar()">ELIMINAR</button>
		</form>
		<br>			
	</div>
		<table class="table table-condensed">
			<tr>
				<th>ID</th>
				<th><a href="" ng-click="ordenar('nombre')">
					NOMBRES</a>
				</th>
				<th>AUTOR</th>
				<th>PRECIO</th>
				<th>CANTIDAD</th>
				<th>IMAGEN</th>	
				<th colspan="12"><center>VENTAS POR MES</center></th>			
				<th>SUMA</th>
					
			</tr>
			<tr ng-repeat="datos in lista.books | orderBy:ordenado | filter:busqueda">
				<td>{{datos.id}}</td>
				<td>{{datos.name}}</td>
				<td>{{datos.author}}</td>
				<td>{{datos.price}}</td>
				<td>{{datos.amount}}</td>
				<td><img src="{{datos.url}}" width="50px" height="50px"></td>

				<!--<td><input type="submit" value="SUMA" ng-click="suma($index)"></td>-->
			

				<td ng-repeat="datos2 in datos.salesPerMonth">
					{{datos2.month}}<br>{{datos2.amount}}
				</td>
				<td><input type="text" value="{{suma($index)}}" width="5px"></input></td>
			
			</tr>
			<tr ng-repeat="datos in diccionario">
				<td>{{datos.id}}</td>
				<td>{{datos.nombre}}</td>
				<td>{{datos.autor}}</td>
				<td>{{datos.precio}}</td>
				<td>{{datos.cantidad}}</td>
			</tr>		
		</table>
</div>