
h1{
	color: red;
	text-align: center;
	font-family: "Courier New", Courier, monospace;
}
.img{
	
	
    width:        40%;
    height:       35%;
    margin-left: 30%;
	
}
h4{
	color: blue;
	font-family: "Times New Roman", Times, serif;
	
}
